.c-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

:not(.c-footer__themes--disabled) > .c-footer__theme {
	cursor: pointer;
}

.c-footer__themes--disabled {
	opacity: 0.25;
}

.c-footer a {
	text-decoration: none;
}
