.c-header {
	text-align: center;
}

.c-header__anchor {
	display: inline-block;
	color: unset;
}

.c-header svg {
	width: 100%;
	max-width: calc(var(--padding) * 24);
	margin: 0 auto;
}

.c-header--blob {
	fill: var(--t-accent-1);
}

.c-header--text {
	fill: currentcolor;
}
