.c-nav {
	margin: var(--padding) 0;
}

.c-nav ul {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.c-nav li {
	padding: 0;
}

.c-nav a {
	display: inline-block;
	text-decoration: none;
	margin: var(--padding);
}

@media (min-width: 620px) {
	.c-nav ul {
		gap: calc(var(--padding) * 2);
	}
}
