.c-support {
	margin: calc(var(--padding) * 8) 0;
	text-align: center;
}

.c-support h2 {
	text-decoration: unset;
}

.c-support__bmc-link {
	text-decoration: none;
}

.c-support__bmc-button {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	border-radius: calc(var(--button-height) + (2 * var(--padding)));
	padding: var(--padding) calc(var(--padding) * 2);
	box-sizing: border-box;
	gap: var(--padding);
	background-color: var(--t-accent-1);
	color: var(--t-opposite);
	font-weight: bold;
}

.c-support__bmc-svg > svg {
	display: none;
	width: auto;
	height: var(--button-height);
}

.c-support__bmc-txt {
	line-height: var(--button-height);
}

.c-support__bmc-svg .c-bmc__fill {
	fill: currentcolor;
}

@media (min-width: 300px) {
	.c-support__bmc-svg > svg {
		display: inline;
	}
}
