.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--syntax-comment);
	font-style: italic;
	opacity: 0.6;
}

.token.punctuation {
	color: var(--syntax-punctuation);
}

.namespace {
	opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: var(--syntax-constant);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.inserted {
	color: var(--syntax-string);
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: var(--syntax-string);
}

.token.operator,
.token.builtin {
	color: var(--syntax-operator);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: var(--syntax-keyword);
}

.token.function {
	color: var(--syntax-fn-name);
}

.token.regex,
.token.important,
.token.variable {
	color: var(--syntax-variable);
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token a {
	color: inherit;
}
