.tweet {
	margin-bottom: var(--padding);
}

.tweet:last-child {
	margin-bottom: 0;
}

.tweet-body {
	border-radius: var(--padding);

	background: var(--t-base-3);
	color: var(--t-opposite-3);
	padding: var(--padding);
}

.tweet-metadata {
	display: inline-flex;
	flex-direction: row;
	gap: calc(var(--padding) * 0.25);
	align-items: center;
}
