:root {
	/* From https://systemfontstack.com/ */
	--system-font-sans-serif:
		-apple-system,
		blinkmacsystemfont,
		"avenir next",
		avenir,
		"segoe ui",
		"helvetica neue",
		helvetica,
		cantarell,
		ubuntu,
		roboto,
		noto,
		arial,
		sans-serif;
	--system-font-mono-space:
		menlo,
		consolas,
		monaco,
		"Liberation Mono",
		lucida console,
		monospace;
	--title-font: "Montserrat", var(--system-font-sans-serif);
	--body-font: var(--system-font-sans-serif);
	--code-font: "Fira Code", var(--system-font-mono-space);
}
