:root {
	/* const, async, function */
	--syntax-keyword: var(--t-accent-1);

	/* read() */
	--syntax-fn-name: var(--t-accent-2);

	/* 'example' */
	--syntax-string: var(--t-accent-3);

	/* // Hello */
	--syntax-comment: var(--t-opposite-2);

	/* ( ); */
	--syntax-punctuation: var(--t-opposite-2);

	/* var(--example) */
	--syntax-variable: var(--t-accent-2);

	/* = => */
	--syntax-operator: var(--t-accent-2);

	/* ???? */
	--syntax-constant: var(--t-accent-1);
}
