:root {
	--light-theme-base: #f8f6f4;
	--light-theme-opposite: #373150;
	--light-theme-base-2: #373150;
	--light-theme-opposite-2: #f8f6f4;
	--light-theme-accent-1: #ff7867;
	--light-theme-accent-2: #84d2ee;
	--light-theme-accent-3: #fed9a1;
	--light-theme-accent-4: #3c55a5;
}
