.tweet {
	display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  gap: calc(1.8 * var(--padding));
  grid-template-areas:
		"tweet-body"
		"tweet-metadata";

	border-radius: var(--padding);

	background: var(--t-base-3);
	color: var(--t-opposite-3);
	padding: calc(var(--padding) * 2);
}

.tweet-body {
	grid-area: tweet-body;
}

.tweet-metadata {
	grid-area: tweet-metadata;

	display: flex;
	flex-direction: row;
	font-style: italic;
	gap: calc(1.5 * var(--padding));
}

.tweet-metadata a {
	text-decoration: none;
}
