.u-theme--light {
	/* Default to light theme */
	--t-base: var(--light-theme-base);
	--t-opposite: var(--light-theme-opposite);
	--t-base-2: var(--light-theme-base-2);
	--t-opposite-2: var(--light-theme-opposite-2);
	--t-accent-1: var(--light-theme-accent-1);
	--t-accent-2: var(--light-theme-accent-2);
	--t-accent-3: var(--light-theme-accent-3);
	--t-accent-4: var(--light-theme-accent-4);
}

.u-theme--dark {
	--t-base: var(--dark-theme-base);
	--t-opposite: var(--dark-theme-opposite);
	--t-base-2: var(--dark-theme-base-2);
	--t-opposite-2: var(--dark-theme-opposite-2);
	--t-accent-1: var(--dark-theme-accent-1);
	--t-accent-2: var(--dark-theme-accent-2);
	--t-accent-3: var(--dark-theme-accent-3);
	--t-accent-4: var(--dark-theme-accent-4);
}
