<footer class="c-footer">
    <p class="js-theme-container c-footer__themes--disabled">
        <strong>Theme</strong>: <span class="c-footer__theme js-theme">OS Default</span> | <span class="c-footer__theme js-theme" data-theme="light">Light</span> | <span class="c-footer__theme js-theme" data-theme="dark">Dark</span>
    </p>
    <p>
        &copy; {{ now.Format "2006" }} Matt Gaunt-Seo
        <br />
        <a rel="me" href="https://mastodon.gaunt.dev/@matt">Mastodon</a> -
        <a href="//github.com/gauntface">GitHub</a> -
        <a href="//www.linkedin.com/in/mattgaunt/">LinkedIn</a>
        {{ with .OutputFormats.Get "RSS" }} - <a href="{{ .RelPermalink }}">RSS</a>{{ end }}
    </p>
</footer>
