{{ if .Adjective }}
<div class="c-support">
  <h2>Found this {{.Adjective}} helpful?</h2>
  <p>If you found this helpful and would like to support me, please consider
    <a href="https://www.buymeacoffee.com/gauntface">buying me a coffee</a>.
    Any help goes a long way to help me prioritize and maintain this site and
    my projects.
  </p>
  <p>
    <a class="c-support__bmc-link" href="https://www.buymeacoffee.com/gauntface">
      <span class="c-support__bmc-button">
        <span class="c-support__bmc-svg">{{ partial "svgs/bmc-logo.svg" }}</span>
        <span class="c-support__bmc-txt">Buy me a coffee</span>
      </span>
    </a>
  </p>
</div>
{{ end }}